@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Redressed&display=swap");

/* Global styles */
:root {
  --primary-font: "Playfair Display";
  --secondary-font: "Redressed";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.Main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#title {
  font-size: 2.4rem;
  font-family: var(--primary-font);
  text-align: center;
  padding: 10px;
}

/* search bar */

.search-container {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar {
  padding: 15px;
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: azure;
  opacity: 0.65;
  margin: 10px;
  font-family: var(--primary-font);
  border-radius: 10px;
}
#submit {
  padding: 20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 10px;
}

/* artist container */
.Artist-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  background-image: linear-gradient(
    to left,
    rgb(220, 223, 226),
    rgb(119, 114, 114)
  );
  border-radius: 20px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.5);
}
.Artist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 40px;
  margin: 10px;
}

.Artist-container #name {
  padding: 10px;
  font-size: 1.25rem;
  font-family: var(--secondary-font);
}
.Artist-container img {
  height: 250px;
  width: 270px;
  border-radius: 20px;
  padding: 20px;
}
/* song container */

.Song-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 40px;
  margin: 10px;
}

@keyframes animate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.Song-container #photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 15px;
  animation: animate 2.5s infinite linear;
}
.song-wrapper {
  display: flex;
  justify-content: center;
}

@keyframes iconAnimte {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.song-wrapper span {
  margin-top: 30px;
  animation: iconAnimte 800ms ease-in-out infinite;
}
#songtitle {
  font-family: var(--secondary-font);
}
